body {
  background-color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}

.todo__liste__app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__ctnr{
  display: flex;
  width: 100%;
}

.liste{
  margin-top: 50px;
  padding: 30px;
  border: 3px solid #fff;
}

button{
  background-color: #000;
  border: 3px solid #fff;
  height: 23px;
  color: #fff;
}

input{
  border: solid #fff;
  height: 15px;
  width: 80%;
}

.titre__input{
  width: 100%;
}

.ToDoListItem{
  display: flex;
  height: 1em;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 80px;
}